cffi==1.13.2
Click==7.0
dnspython==1.16.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-SocketIO==4.2.1
gevent==1.4.0
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
monotonic==1.5
mpmath==1.1.0
numpy==1.17.2
pandas==0.25.3
passlib==1.7.2
pycparser==2.19
pymongo==3.10.0
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
six==1.12.0
Werkzeug==0.16.0
